{% extends "dashboard.html" %}

{% block dynamic %}
{% if request.user.is_staff %}
<h1 class="text-center fs-3 text-uppercase">Edit Skill</h1>

<div class="d-flex justify-content-center align-items-center">
    <div class="w-50">
        <form method="post">
            {% csrf_token %}
            {{form}}
            <div class="w-100">
                <button class="btn mt-2 w-100" style="background-color: #7163CA; color: #fff;" type="submit">
                    Edit Skill <i class="fas fa-solid fa-pen"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{% else %}
<div class="w-100 d-flex justify-content-center mt-5">
    <div class="alert alert-danger text-center " role="alert">
        Sorry, this page is only available to admin. <br>
        you can visit other page
    </div>
</div>
{% endif %}
{% endblock dynamic %}