{% extends "dashboard.html" %}

{% block dynamic %}
{% if request.user.is_staff %}
<h1 class="text-center fs-3 text-uppercase">Messages</h1>
<div class="card border-0 mt-3">
    {% for message in messages %}
    <div class="row shadow-sm rounded mb-4 mt-3">
        <div class="col-md-12">
            <div class="card-body d-flex justify-content-between">
                <div>
                    <h1 class="card-title fs-4 display-5"><strong>{{message.email}} </strong></h1>
                    <p class="card-text fs-5 display-4 mt-2"> <i class="fas fa-solid fa-envelope"></i>
                        {{message.message}}
                    </p>
                </div>
                <a href="{% url 'delete_message' message.id %}">
                    <button class="btn btn-outline-danger btn-sm">
                        <i class="fas fa-solid fa-trash"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="w-100 d-flex justify-content-center mt-5">
    <div class="alert alert-danger text-center " role="alert">
        Sorry, messages is only available to admin. <br>
        you can visit other page
    </div>
</div>
{% endif %}
{% endblock dynamic %}