{% extends "base.html" %}

{% block content %}

<!-- {% if request.user.is_staff %} -->
<h1 class="text-center fs-2 display-3 text-uppercase mt-3">Register</h1>
<div class="d-flex justify-content-center align-content-center h-100">
    <div class="w-50">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3 w-100">
                <label for="">User Name</label>
                <br>
                {{form.username}}
            </div>
            <div class="mb-3">
                <label for="">First Name</label>
                <br>
                {{form.first_name}}
            </div>
            <div class="mb-3">
                <label for="">Last Name</label>
                <br>
                {{form.last_name}}
            </div>
            <div class="mb-3">
                <label for="">Email</label>
                <br>
                {{form.email}}
            </div>
            <div class="mb-3">
                <label for="">Password</label>
                <br>
                {{form.password1}}
            </div>
            <div class="mb-3">
                <label for="">Confirm Password</label>
                <br>
                {{form.password2}}
            </div>
            <div class="mb-3">
                <label for="">Choose Image</label>
                <br>
                {{form.profile_image}}
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
<!-- {% else %}
<div class="w-100 d-flex justify-content-center mt-5">
    <div class="alert alert-danger text-center " role="alert">
        Sorry, registration is only available to admin. <br>
        you can visit other page
    </div>
</div>
{% endif %} -->
{% endblock content %}