nav {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hire-btn {
  background: rgba(113, 99, 186, 255);
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  font-weight: 500;
  cursor: pointer;
}
.primary-btn {
  background: rgba(113, 99, 186, 255);
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  font-weight: 500;
  cursor: pointer;
}

.resume-btn {
  background: #00000058;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  font-weight: 500;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#dashboard {
  display: flex;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  color: #fff;
  overflow: hidden;
  transition: alll 0.5s linear;
  background: rgba(113, 99, 186, 255);
}
.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}
.logo {
  height: 80px;
  padding: 16px;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 1.5rem;
}
.menu li {
  padding: 0.8rem;
  margin: 8px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active {
  background: #e0e0e058;
}
.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
}
.menu a li {
  font-size: 1.2 rem;
}

.main-content {
  position: relative;
  background-color: #ebe9e9;
  width: 100%;
  padding: 1rem;
}
.header-wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}
.header-title {
  color: rgba(113, 99, 186, 255);
}
.container-heading {
  margin-top: 100px;
}
.card-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.inner {
  display: none;
}
.sub a:hover > ul {
  display: block;
}

/* banner css */

.banner-wrapper {
  padding-top: 6.875rem;
  z-index: 1;
}
/* CONTACT FORM  */
.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
  padding: 10px;
}
.form {
  width: 60%;
}
/* CONTACT FORM END */
/* LOGIN STYLES  */
.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 430px;
  padding: 10px;
}
.img-container img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 15px;
}
.img-container,
.form-container {
  width: 48%;
}
/* LOGIN STYLES END */

/* REVIEW PAGE  */
.review-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
  padding: 10px;
}
.review-form {
  width: 60%;
}
/* REVIEW PAGE END  */
/* BLOG SECTION  */
#blog,
#project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading span {
  margin-top: 20px;
  color: #f33c3c;
}

.heading h3 {
  font-size: 2rem;
  color: #2b2b2b;
  font-weight: 600;
}

.blog-container,
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.blog-box {
  width: 350px;
  height: 460px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 20px;
}
.project-box {
  width: 350px;
  height: 360px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 20px;
}
.blog-img,
.project-img {
  width: 100%;
  height: 250px;
}

.blog-img img,
.project-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

.blog-text,
.project-text {
  height: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.blog-text span,
.project-text span {
  color: #f33c3c;
  font-size: 0.9rem;
}

.blog-text .blog-title,
.project-text .project-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
  text-decoration: none;
}

.blog-text .blog-title:hover,
.project-text .project-title:hover {
  color: #f33c3c;
  transition: all ease 0.3s;
}

.blog-text p,
.project-text p {
  color: #645d5d;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
}

.blog-text a,
.project-text a {
  color: #0f0f0f;
  text-decoration: none;
}

.blog-text a:hover,
.project-text a:hover {
  color: #f33c3c;
}

/* BLOG SECTION END  */
/* MEDIA QUERIES */
@media screen and (max-width: 640px) {
  .container-heading {
    margin-top: 80px;
  }
  .login-container {
    flex-direction: column;
    height: auto;
  }
  .img-container,
  .form-container {
    width: 90%;
  }
  .contact-form-container,
  .review-form-container {
    flex-direction: column;
  }
  .form,
  .review-form {
    width: 90%;
  }
}

@media screen and(min-width:1100px) and (max-width: 1239px) {
  .blog-box,
  .project-box {
    width: 80%;
  }
}

@media screen and (max-width: 640px) and (min-width: 1099px) {
  .blog-box,
  .project-box {
    margin: 10px 5px;
    width: 100%;
  }
}
