nav {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hire-btn {
  background: rgba(113, 99, 186, 255);
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  font-weight: 500;
  cursor: pointer;
}
.primary-btn {
  background: rgba(113, 99, 186, 255);
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  font-weight: 500;
  cursor: pointer;
}

.resume-btn {
  background: #00000058;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  font-weight: 500;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#dashboard {
  display: flex;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  color: #fff;
  overflow: hidden;
  transition: alll 0.5s linear;
  background: rgba(113, 99, 186, 255);
}
.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}
.logo {
  height: 80px;
  padding: 16px;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 1.5rem;
}
.menu li {
  padding: 0.8rem;
  margin: 8px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active {
  background: #e0e0e058;
}
.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
}
.menu a li {
  font-size: 1.2 rem;
}

.main-content {
  position: relative;
  background-color: #ebe9e9;
  width: 100%;
  padding: 1rem;
}
.header-wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}
.header-title {
  color: rgba(113, 99, 186, 255);
}

.card-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.inner {
  display: none;
}
.sub a:hover > ul {
  display: block;
}

/* banner css */

.banner-wrapper {
  padding-top: 6.875rem;
  z-index: 1;
}
/* CONTACT FORM  */
.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.form {
  width: 60%;
}
/* CONTACT FORM END */
/* LOGIN STYLES  */
.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  padding: 10px;
}
.img-container img {
  width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 15px;
}
.img-container,
.form-container {
  width: 48%;
}
/* LOGIN STYLES END */

/* MEDIA QUERIES */
@media screen and (max-width: 640px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }
  .img-container,
  .form-container {
    width: 90%;
  }
  .contact-form-container {
    flex-direction: column;
  }
  .form {
    width: 90%;
  }
}
