{% extends "dashboard.html" %}

{% block dynamic %}
<h1 class="text-center fs-3 text-uppercase mt-1">Add a Project</h1>
<div class="d-flex justify-content-center align-content-center">
    <div class="w-50">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <div class="w-100">
                <button class="btn  mt-2 w-100" style="background-color: #7163CA; color: #fff;" type="submit">
                    Add Project <i class="fas fa-solid fa-plus"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock dynamic %}