{% extends "dashboard.html" %}

{% block dynamic %}
<h1 class="text-center fs-3 mt-1 text-uppercase">All Projects</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    {% for project in projects %}
    <div class="col">
        <div class="card">
            <img src="{{ project.screenshoot.url }}" class="card-img-top" style="height: 300px;" alt="">
            <div class="card-body f-e">
                {% if request.user.is_authenticated %}
                <a href="{% url 'edit_project' project.id %}" class="btn btn-sm text-decoration-none"
                    style="background-color: #7163CA; color: #fff;">
                    <i class=" fas fa-solid fa-pen"></i>
                </a>
                <a href="{% url 'delete_project' project.id %}" class="btn btn-danger btn-sm text-decoration-none"> <i
                        class="fas fa-solid fa-trash"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock dynamic %}