{% extends "dashboard.html" %}

{% block dynamic %}
<h1 class="text-center fs-3 text-uppercase mt-1">Edit Project</h1>
<div class="d-flex justify-content-center align-items-center">
    <div class="w-50">
        <form method="post">
            {% csrf_token %}
            {{form}}
            <div class="w-100">
                <button class="btn mt-2 w-100" style="background-color: #7163CA; color: #fff;" type="submit">
                    Edit Project <i class="fas fa-solid fa-pen"></i>
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock dynamic %}