{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="project">
    <div class="heading">
        <span>My All Projects</span>
        <h3>My Projects</h3>
    </div>
    <div class="project-container">
        {% for project in projects %}
        <div class="project-box">
            <div class="project-img">
                <img src="{{ project.screenshoot.url }}" alt="">
            </div>
            <div class="project-text">
                <span> {{ project.stars_html|safe }}</span>
                <a href="#" class="blog-title">{{ project.title }}</a>
                <a href="{% url 'details' project.id %}">See Detail</a>
            </div>
        </div>
        {% endfor %}

    </div>
</section>
{% endblock content %}