{% extends "base.html" %}
{% load static %}
{% block content %}
{% if error %}


<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% endif %}
<div style="margin-top: 100px;">
    <h1 class="text-center fs-2 display-3 text-uppercase" style="margin-top: 100px;">Add a review
    </h1>

    <div class="review-form-container">
        <div class="review-form">
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <button class="btn  mt-2 w-100" style="background-color: #7163CA; color: #fff;" type="submit">
                    Add Review <i class="fas fa-solid fa-plus"></i>
                </button>
            </form>
        </div>
    </div>
    {% endblock content %}