{% extends "dashboard.html" %}

{% block dynamic %}
<div>
    <h1 class="text-center fs-3 text-uppercase mt-1 mb-3">Add a Blog</h1>
    <div class=" d-flex justify-content-center align-items-center">
        <div class="w-50">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <div class="w-100">
                    <button class="btn  mt-2 w-100" style="background-color: #7163CA; color: #fff;" type="submit">
                        Add Blog <i class="fas fa-solid fa-plus"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock dynamic %}