{% extends "base.html" %}
{% load static %}
{% block content %}

<section id="blog">
    <div class="heading">
        <span>My Recent Posts</span>
        <h3>My blog</h3>
    </div>
    <div class="blog-container">
        {% for blog in blogs %}
        <div class="blog-box">
            <div class="blog-img">
                <img src="{{blog.blog_image.url}}" alt="">
            </div>
            <div class="blog-text">
                <span> {{blog.created_at}}</span>
                <a href="#" class="blog-title">{{blog.title}}</a>
                <p> {{blog.description}}</p>
                <a href="https://www.linkedin.com/posts/md-akther-hosen_django-djangodeveloper-websockets-activity-7158319287231827968-_8Uv"
                    target="_blank">Read
                    More</a>
            </div>
        </div>
        {% endfor %}

    </div>
</section>

{% endblock content %}