{% extends "base.html" %}

{% block content %}
<h1 class="text-center fs-2 display-3 text-uppercase mt-3">All Blogs</h1>
{% for blog in blogs %}
<div class="card p-3 mb-3 shadow-sm">
    <div class="card-body">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text">T{{blog.description}}</p>
    </div>
    <img src="{{blog.blog_image.url}}" style="height: 200px; object-fit: cover;" class="card-img-bottom" alt="...">
    <p class="card-text"><small class="text-body-secondary">Last updated {{blog.updated_at}}</small></p>
</div>
{% endfor %}
{% endblock content %}