{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="featured-box" id="home">
    <div class="featured-text">
        <div class="featured-text-card">
            <span>Akther Hosen</span>
        </div>
        <div class="featured-name">
            <p>I'm <span class="typedText"> Software Engineer</span></p>
        </div>
        <div class="featured-text-info">
            <p>Experienced software developer with a passion for creating visually stunning and user-friendly
                solutions.</p>
        </div>
        <div class="featured-text-btn">
            <a href="mailto:nowshadbgc165@gmail.com" class="text-decoration-none text-white " target="_blank">
                <button class="btns blue-btn">Hire Me</button>
            </a>

            {% if resume %}
            <a href="{{ resume.file.url }}" class="text-decoration-none text-white " target="_blank"> <button
                    class="btns">
                    Download CV <i class="fa-solid fa-download"></i></button>
                {% else %}
                <p>No resume uploaded yet.</p>
                {% endif %}
            </a>
        </div>
        <div class="social-icons">
            <div class="icon">
                <a href="https://github.com/akther2034165/" target="_blank" class="text-decoration-none text-black">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
            <div class="icon">
                <a href="https://www.linkedin.com/in/md-akther-hosen-aa82a9284" target="_blank"
                    class="text-decoration-none text-black">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
            <div class="icon">
                <a href="https://www.facebook.com/nirjhor.nowshad/" target="_blank"
                    class="text-decoration-none text-black">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </div>
            <div class="icon"><i class="fa-brands fa-instagram"></i></div>
        </div>
    </div>
    <div class="featured-image">
        <div class="image">
            {% if user.is_authenticated %}
            <img src="{{ user_profile.profile_image.url }}" alt="User Profile Image">
            {% else %}
            <img src="{% static '/images/profile/banner.jpg' %}" alt="User Profile Image">
            {% endif %}
        </div>
    </div>
</section>
<!-- about  -->
<section class="section" id="about">
    <div class="top-header">
        <h1>About Me</h1>
    </div>
    <div class="section-row">
        <div class="section-col">
            <div class="about-info">
                <h3>My Introduction</h3>
                <p>I am well-versed in HTML, CSS and JavaScript, and other cutting edge frameworks and
                    libraries, which allows me to implement interactive features. Addionally I have experience
                    working with backend framework like Django and Django REST Framework. </p>
                <div class="about-btn">
                    {% if resume %}
                    <a href="{{ resume.file.url }}" class="text-decoration-none text-white " target="_blank"> <button
                            class="btn">
                            Download CV <i class="fa-solid fa-download"></i></button>
                        {% else %}
                        <p>No resume uploaded yet.</p>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
        <div class="section-col">
            <div class="skills-box">
                <div class="skills-header">
                    <h3>Frontend</h3>
                </div>
                <div class="skills-list">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>Bootstrap</span>
                    <span>Tailwind CSS</span>
                    <span>Daisy UI</span>
                    <span>JavaScript</span>
                </div>
            </div>
            <div class="skills-box">
                <div class="skills-header">
                    <h3>Backend</h3>
                </div>
                <div class="skills-list">
                    <span>Python</span>
                    <span>Django</span>
                    <span>C++</span>
                </div>
            </div>
            <div class="skills-box">
                <div class="skills-header">
                    <h3>Database</h3>
                </div>
                <div class="skills-list">
                    <span>MySQL</span>
                    <span>PostgreSQL</span>
                    <span>MongoDB</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- project box  -->
<section class="section" id="project">
    <div class="top-header">
        <h1>What I Do</h1>
    </div>
    <div class="wid-container">
        <div class="wid-box">
            <h3>Web Design</h3>
            <label>15+ Finished Projects</label>
        </div>
        <div class="wid-box">
            <h3>Web Development</h3>
            <label>25+ Happy Client</label>
        </div>
        <div class="wid-box">
            <h3>Backend Development</h3>
            <label>2+ years</label>
        </div>
    </div>
</section>

<div class="top-header">
    <h1>Projects</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    {% for project in projects %}
    <div class="col">
        <div class="card ">
            <img src="{{project.screenshoot.url}}" class="card-img-top" style="height: 300px;" alt="">
            <div class="card-body">
                <a href="{% url 'details' project.id %}" class="text-decoration-none text-secondary">
                    <h5 class="card-title">{{project.title}}</h5>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}