{% extends "base.html" %}
{% load static %}
{% block content %}


<section id="home" class="banner_wrapper">
    <div class="container">
        <div class="row d-flex justify-content-around align-items-center">
            <div class="col-lg-7 order-lg-1 order-2 banner-content">
                <div class="mt-5">
                    <h2 class="text-uppercase position-relative">Hello</h2>
                    <h1 class="text-uppercase position-relative mt-3 mb-3">I am Md Akther Hosen</h1>
                    <h5 class="text-uppercase mb-3">Backend Developer</h5>
                    <div class="mt-4">
                        <a href="https://www.facebook.com/nirjhor.nowshad/" target="_blank"
                            class="text-decoration-none">
                            <img src="{% static 'images/social/facebook.png' %}" style="height: 30px;" alt="">
                        </a>
                        <a href="https://github.com/akther2034165/" target="_blank" class="text-decoration-none ms-2">
                            <img src="{% static 'images/social/github.png' %}" style="height: 30px;" alt="">
                        </a>
                        <a href="https://www.linkedin.com/in/md-akther-hosen-aa82a9284" target="_blank"
                            class="text-decoration-none ms-2">
                            <img src="{% static 'images/social/linkedin.png' %}" style="height: 30px;" alt="">
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="mailto:nowshadbgc165@gmail.com" class="text-decoration-none" target="_blank">
                            <button class="mt-2 text-uppercase hire-btn"> Hire Me</button>
                        </a>

                        {% if resume %}
                        <a href="{{ resume.file.url }}" class="text-decoration-none " target="_blank"> <button
                                class="mt-2 text-uppercase resume-btn">GET Resume</button></a>
                        {% else %}
                        <p>No resume uploaded yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-5 order-lg-2 order-1">
                <div class="d-flex justify-content-center mt-5">
                    {% if user.is_authenticated %}
                    <img src="{{ user_profile.profile_image.url }}" class="w-100 rounded-4" style="height: 400px;"
                        alt="User Profile Image">
                    {% else %}
                    <img src="{% static '/images/profile/banner.jpg' %}" class="w-100" style="height: 400px; "
                        alt="User Profile Image">
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</section>
<h2 class="section-heading-education p-0 mt-3 mb-3 text-center">Skills I have</h2>
<div class="skill-container">
    <div class="skill">
        <img src="{% static 'images/icons/html-5.png' %}" style="height: 60px;" alt="">
        <h2>HTML</h2>
    </div>
    <div class="skill">
        <img src="{% static 'images/icons/css-3.png' %}" style="height: 60px;" alt="">
        <h2>CSS</h2>
    </div>
    <div class="skill">
        <img src="{% static 'images/icons/bootstrap.png' %}" style="height: 60px;" alt="">
        <h2>Bootstrap</h2>
    </div>
    <div class="skill">
        <img src="{% static 'images/icons/tailwind.png' %}" style="height: 60px;" alt="">
        <h2>Tailwind CSS</h2>
    </div>
    <div class="skill">
        <img src="{% static 'images/icons/js.png' %}" style="height: 60px;" alt="">
        <h2>JavaScript</h2>
    </div>
    <div class="skill">
        <img src="{% static 'images/icons/python.png' %}" style="height: 60px;" alt="">
        <h2>Python</h2>
    </div>
    <div class="skill">
        <img src="{% static 'images/icons/django.png' %}" style="height: 60px;" alt="">
        <h2>Django</h2>
    </div>
    <div class="skill">
        <img src="{% static 'images/icons/mysql.png' %}" style="height: 60px;" alt="">
        <h2>MySQL</h2>
    </div>
    <div class="skill">
        <img src="{% static 'images/icons/postgresql.png' %}" style="height: 60px;" alt="">
        <h2>PostgreSQL</h2>
    </div>
    <div class="skill">
        <img src="{% static 'images/icons/drf.png' %}" style="height: 60px;" alt="">
        <h2>DRF</h2>
    </div>
</div>
<!-- <div class="skills-container">
    
    {% for skill in skills %}
    <div>
        <h2 class="fs-5 display-3">{{skill.name}}</h2>
        <div class="progress mb-2" role="progressbar" aria-label="Skill Progress" aria-valuenow="{{ skill.percentage }}"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-secondary" style="width: {{ skill.percentage }}%">{{ skill.percentage}}%
            </div>
        </div>
    </div>
    {% endfor %}
</div> -->
<div class="d-flex justify-content-between flex-column flex-md-row gap-5 mt-5">
    <div class="education-container">
        <h2 class="section-heading-education p-0 text-start">Education</h2>
        <div class="education-box-container">
            <div class="education-box">
                <h4>2020 - 2024</h4>
                <h3>Bachelor Degree</h3>
                <p>BGC TRUST UNIVERSITY BANGLADESH</p>
            </div>
            <div class="education-box ">
                <h4>2017 - 2019</h4>
                <h3>Higher Secondary Certificate</h3>
                <p>HAZERA TAJU UNIVERSITY COLLEGE</p>
            </div>
            <div class="education-box">
                <h4>2015 - 2016</h4>
                <h3>Secondary School Certificate</h3>
                <p>AYUB BIBI CITY CORP. SCHOOL & COLLEGE</p>
            </div>
        </div>
    </div>
    <div class="education-container">
        <h2 class="section-heading-education p-0 text-start">Experiences</h2>
        <div class="education-box-container">
            <div class="education-box">
                <h4>2024 - 2024</h4>
                <h3>Software Engineer Intern</h3>
                <p>Alchemy Software Solution</p>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center mt-3 text-uppercase" style="color: #7163ba;">Projects</h2>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    {% for project in projects %}
    <div class="col">
        <div class="card ">
            <img src="{{project.screenshoot.url}}" class="card-img-top" style="height: 300px;" alt="">
            <div class="card-body">
                <a href="{% url 'details' project.id %}" class="text-decoration-none text-secondary">
                    <h5 class="card-title">{{project.title}}</h5>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}